<div class="container" *ngIf="device">
    
<h2>{{device.deviceId}}</h2>
<p *ngIf="isUpdated;else other_content">Device is up to date</p>
<ng-template #other_content>Device is not updated</ng-template>
<form #deviceTwinForm="ngForm">
<table  class="table">
  <thead>
        <th colspan="2">Thresholds</th>
        <th> <button class="btn btn-default" (click)="toggleEdit()">Edit</button></th>
  </thead>
  <tr>
      <th>Measure</th>
      <th>Value</th>
      <th>Unit</th>
  </tr>
  <tr>
    <td>
      Temperature
    </td>
    <td>
      <input class="form-control" type='number' [(ngModel)]="device.DesiredState.Threshold.Temperature.value" name="temperature" [disabled]="!editMode"/>
    </td>
    <td>
        <input class="form-control" type='text' [(ngModel)]="device.DesiredState.Threshold.Temperature.unit" name="temperatureUnit" [disabled]="!editMode"/>
    </td>
  </tr>
  <tr>
      <td>
        Pressure
      </td>
      <td>
          <input class="form-control" type='number' [(ngModel)]="device.DesiredState.Threshold.Pressure.value" name="pressure" [disabled]="!editMode"/>
      </td>
      <td>
          <input class="form-control" type='text' [(ngModel)]="device.DesiredState.Threshold.Pressure.unit" name="pressureUnit" [disabled]="!editMode"/>
      </td>
    </tr>
    <tr>
        <td>
          Humidity
        </td>
        <td>
            <input class="form-control" type='number' [(ngModel)]="device.DesiredState.Threshold.Humidity.value" name="humidity" [disabled]="!editMode"/>
        </td>
        <td>
            <input class="form-control" type='text' [(ngModel)]="device.DesiredState.Threshold.Humidity.unit" name="humidityUnit" [disabled]="!editMode"/>
        </td>
      </tr>
</table>
<button class="btn btn-default" (click)="onSubmit()" [disabled]="deviceTwinForm.pristine">Save</button>
</form>
<table  class="table">
    <thead>
          <th colspan="2">Alerts</th>
    </thead>
    <tr>
        <th>Measure</th>
    </tr>
    <tr>
      <td>
        Temperature
      </td>
      <td>
        <button class="btn btn-warning" style="color:red" *ngIf="device.Alarms.Temperature">Alert</button>
      </td>
    </tr>
    <tr>
        <td>
          Pressure
        </td>
        <td>
            <button class="btn btn-warning" style="color:red" *ngIf="device.Alarms.Pressure">Alert</button>
        </td>
      </tr>
      <tr>
          <td>
            Humidity
          </td>
          <td>
            <button class="btn btn-warning" style="color:red" *ngIf="device.Alarms.Humidity">Alert</button>
          </td>
        </tr>
  </table>
</div>